* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, Georgia, 'Times New Roman', Times, serif;
}

header {
  width: 100%;
  padding: 30px;

  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.logo-link {
  height: 50px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .logo-link  {
    width: 5px;
  }
}

.logo-image {
 width:150px; 
 height: 80px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .logo-image {
    width:120px;
  }
}

.navbar {
  border: 1px solid blue;
  font-kerning: 18px;
  display: flex;
  flex-direction: row; 
 /* text-transform: uppercase;*/
}

.navbar-link {
  margin-left: 100px;
  /* border: 2px solid grey; */
  text-decoration: none;
  color: black;
}

@media (min-width: 320px) and (max-width: 480px) {
  .navbar-link {
    width:100%;
    margin-left:50px;
    padding-right: 100px;
    font-size:18px;
  }
}

h2  {
  font-size: 65px;
}

h3  {
  font-size: 30px;
}

h4  {
  font-size: 25px;
}

h5  {
  font-size: 18px;
}

.hero {
  padding-top: 150px;
  min-height: 100vh;
}

.hero h3 {
   margin-left: 450px;
   margin-right: 300px;
   font-weight: 100;
}

@media (min-width: 320px) and (max-width: 480px) {
  .hero h3 {
  margin: 50px;
  width: 300px;
  min-height:25vh;
  font-size: 18px;
  }
}

.hero-image {
  height: 750px;
 
  background-image: url(../images/fendi-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 5px;
}

.didascalia {
  border-right: 0; 
  display: flex;
  flex-direction: row;
  font-size: 18px;
}

li {
  list-style: none;
} 

.section-wrap {
  min-height: 100%;
  margin: 0 150px;
   /* border: 4px solid black; */
}

.article-text {
  border: 2px solid pink;
  margin-top: 50px;
  padding: 0 150px 0 0;
  position: relative;
  display: flex;
  flex-direction: row;
 }

.article-text-title {
  border: 1 solid color red;
  margin-top: 0px;
}

.article-text-paragraph {
  margin-top: 0px;
  font-size: 30px;
  margin-left:220px;
  margin-bottom: 0px;
}

.article-img-background-02 {
  width: 100%;
  height: 700px;
  margin-top: 100px;
  background-image: url("../images/fendi-bueprint.svg");
  background-color:rgb(255, 255, 255);
  Background-position: center; 
  background-repeat: no-repeat;
  background-size: 80%;
}

.article-img-background-03 {
  width: 100%;
  height: 700px;
  margin-top: 100px;
  background-image: url("../images/fendi-chatbot.png");
  background-color:#F7B853;
  Background-position: center; 
  background-repeat: no-repeat;
  background-size: 80%;
}
.article-img-background-04 {
  width: 100%;
  height: 700px;
  margin-top: 100px;
  background-image: url("../images/fendi-customization.png");
  background-color:#F7B853;
  Background-position: center; 
  background-repeat: no-repeat;
  background-size: 80%;
}

.article-img-background-05 {
  width: 100%;
  height: 700px;
  margin-top: 100px;
  background-image: url("../images/fendi-order.png");
  background-color:#F7B853;
  Background-position: center; 
  background-repeat: no-repeat;
  background-size: 80%;
}

@media (max-width: 520px ) {
  .article-img-background-02 {
    min-width: 300px;
    height: 
  }
  
}







